* {
    margin: 0;
    padding: 0;
}
.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 5em;
    background-color: #002B5B;
}

.navbar_home_products {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.navbar_login_cart_theme {
    display: flex;
    flex-direction: row;
    gap: 3em;
}